.datepicker table{
	color: white;
	transition: all .3s linear;
}

.datepicker-dropdown{
	background-color: #252527;
	transition: all .3s linear;
}

.datepicker .datepicker-switch:hover,
.datepicker .next:hover,
.datepicker .prev:hover,
.datepicker tfoot tr th:hover{
	color: #252527;
	transition: all .3s linear;
}

.datepicker table tr td.day:hover,
.datepicker table tr td.focused{
	color: #252527;
	transition: all .3s linear;
}

.datepicker table tr td span.focused,
.datepicker table tr td span:hover{
	color: #252527;
	transition: all .3s linear;
}

.datepicker-dropdown:after{
	border-bottom-color: #252527;
}