@font-face {
  font-family: 'NotoColorEmoji';
  src: url(../fonts/NotoColorEmoji.ttf);
}

#bgBlur{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -100;
  transition: all .3s linear;
  display: flex;
  justify-content: center;
}

#bgBlur img{
  filter: blur(40px) saturate(150%) opacity(1);
  transform: scale(1.2);
  transition: inherit;
}

body{
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
  transition: background-color .3s linear;
}

#loadingScreen{
  position: fixed!important;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(255,255,255,.85);
  backdrop-filter: blur(15px);
  transition: background-color .3s linear, color .3s linear;
}

nav{
  padding-bottom: 10px;
}

div.input-group.date{
  width: fit-content;
}

#contentContainer{
  min-width: 250px;
  max-width: 50%;
  height: auto;
  background-color: transparent;
  transition: all .3s linear;
  padding-top: 80px;
 }

#to-do-list a.active small.text-muted {
  color: #ffffff!important;
}
.float-right
{
  float: right;
  margin-right: 10px;
}

div#tasks li{
  background-color: transparent;
}

.list-group-item{
  background-color: rgba(255,255,255, .5);
  color: black;
  transition: background-color .3s linear, color .3s linear;
}

.form-control{
  transition: border-color .3s ease-in-out,box-shadow .3s ease-in-out;
  border-radius: 1rem;
}

#buttonContainer{
  position: fixed;
  top: 90%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 0px 10px;
  left: 0;
}

.btn-block{
  transition: all .2s ease;
}

#breadCrumbToDoList{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-group-text{
  background-color: transparent;
  border-color: transparent;
  color: black;
  transition: all .3s linear;
}

h3{
  color: black;
  font-weight: bold;
  transition: all .3s linear;
}

.input-group-append{
  cursor: pointer;
  transition: all .3s linear;
}

#linksContainer{
  position: absolute;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  z-index: 80;
  right: 5vw;
  top: 32px;
}

#toUserPage{
  font-size: inherit;
  color: white;
  cursor: pointer;
}

#themeSwitcherContainer{
  font-size: inherit;
}

.jumbotron{
  background-color: rgba(233, 236, 239, .5);
  transition: all .3s linear;
  border-radius: 1rem;
}

.my-4{
  transition: all .3s linear;
  border-color: black;
}

label{
  cursor: pointer;
  transition: all .3s linear;
}

.theme-btn{
  background-color: #007bff;
  border-color: #007bff;
}

.tooltip{
  margin-top: 8px;
}

.arrow{
  display: none;
}

.arrow::before{
  display: none;
}

.tooltip-inner{
  background-color: #252527;
  border-radius: .5rem;
}

.stat-btn{
  font-size: 30px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#dateText{
  font-weight: bold;
}

#weaContainer{
  width: auto;
  height: fit-content;
  background-color: rgba(233, 236, 239, .5);
  border-radius: .7rem;
  position: absolute;
  z-index: 50;
  left: 20px;
  top: 10px;
  transition: all .3s linear;
  max-width: 280px;
  min-width: 210px;
}

#skyImg{
  width: 75px;
  transition: all .3s linear;
}

#sky{
  display: block;
}

#temperature{
  display: block;
}

#weaImg{
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s linear;
}

div#weaContainer p {
  margin: 0;
  text-align: center;
  transition: all .3s linear;
}

.weaTools{
  top: 5px;
  font-size: 15px;
  position: absolute;
  color: #6c757d;
  transition: all .3s linear;
  cursor: pointer;
}

#settings{
  right: 5px;
}

#refresh{
  left: 5px;
  transition: all .3s linear;
  cursor: pointer;
  transform: rotate(0deg);
}

#settings:hover{
  color: #1c1c1c;
  transform: rotate(90deg);
}

em{
  color: #007bff!important;
  font-weight: bold!important;
}

.emoji{
  font-family: NotoColorEmoji;
  font-style: normal;
}

.animated--grow-in, .datepicker {
  -webkit-animation-name: growIn;
  animation-name: growIn;
  -webkit-animation-duration: 200ms;
  animation-duration: 200ms;
  -webkit-animation-timing-function: transform cubic-bezier(0.18, 1.25, 0.4, 1), opacity cubic-bezier(0, 1, 0.4, 1);
  animation-timing-function: transform cubic-bezier(0.18, 1.25, 0.4, 1), opacity cubic-bezier(0, 1, 0.4, 1);
}

@-webkit-keyframes growIn {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes growIn {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.animated--fade-in {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 200ms;
  animation-duration: 200ms;
  -webkit-animation-timing-function: opacity cubic-bezier(0, 1, 0.4, 1);
  animation-timing-function: opacity cubic-bezier(0, 1, 0.4, 1);
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.datepicker-dropdown{
  box-shadow: rgb(8, 7, 7) 9px 9px 20px 2px;
  transition: all .3s linear;
}

.datepicker-dropdown.datepicker-orient-bottom:after{
  left: 13px;
}

.datepicker-dropdown.datepicker-orient-left:before {
  left: 13px;
}

.datepicker .datepicker-switch:hover,
.datepicker .next:hover,
.datepicker .prev:hover,
.datepicker tfoot tr th:hover{
  transition: all .3s linear;
}

.datepicker table tr td.day:hover,
.datepicker table tr td.focused{
  transition: all .3s linear;
}

.datepicker table tr td span.focused,
.datepicker table tr td span:hover{
  transition: all .3s linear;
}

.dropdown-menu{
  border-radius: 0.8rem;
}

.rotation{
  animation-name: rotate;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes rotate{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

.countdown-card .circle-progress-bar{
  position: relative;
}

.countdown-card .circle-progress-bar strong{
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
}

.btn-link:focus{
  box-shadow: none;
}

.modal-content{
  border-radius: 1rem;
}

.modal-open .modal{
  backdrop-filter: blur(5px);
}

.progress{
  border-radius: 0.5rem;
}

.border-left-success{
  border-left: .25rem solid #1cc88a!important;
}

.border-left-info {
  border-left: .25rem solid #36b9cc!important;
}

div#tasks{
  border-radius: 1rem;
  transition: background-color .3s linear;
}

div#tasks .list-group a:nth-child(2){
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

div#tasks .list-group a:last-child{
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.close{
  outline: none;
}

.tooltip-inner{
  border-radius: .5rem;
}

#loadingAnim{
  display: none;
  z-index: 81;
  height: 125px;
  width: 125px;
  top: calc(50vh - 62.5px);
  left: calc(50vw - 62.5px);
  border-radius: 15px;
  backdrop-filter: blur(3px);
}

#linksContainer .dropdown-menu{
  min-width: 10rem;
  padding: .5rem 0;
  margin: .125rem 0 0;
  font-size: .85rem;
  color: #858796;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e3e6f0;
  border-radius: .8rem;
  transition: .3s linear;
}

#linksContainer .dropdown-menu .dropdown-item{
  outline: none;
  transition: .3s linear;
}

#logoutBtn{
  transition: color .2s linear;
  cursor: pointer;
}

#logoutBtn:hover{
  color: #dc3545!important;
}

.inactive{
  pointer-events: none;
  user-select: none;
}

.mbsc-ios-dark .mbsc-switch-track:after {
  background: rgb(243, 159, 24);
}

.mbsc-slider-handle .mbsc-switch-handle{
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(243, 159, 24);
}

.mbsc-ios-dark .mbsc-switch-track {
  background: rgb(243, 159, 24);
  border: 0.0625em solid rgb(243, 159, 24);
  margin-right: .25rem!important;
}

.mbsc-ios-dark.mbsc-switch input:checked+.mbsc-switch-track{
  background: rgb(121, 80, 242)!important;
  border-color: rgb(121, 80, 242)!important;
}

.mbsc-ios-dark .mbsc-switch-handle{
  display: flex;
  align-items: center;
  justify-content: center;
}

@media all and (max-width: 1240px){
  #contentContainer{
    padding-top: 135px;
  }
  #weaContainer{
    left: 5px;
    display: flex;
    height: auto;
    max-width: 100%;
    min-width: 210px;
    margin-right: 5px;
  }
  #weaInf{
    display: inline-block;
  }
  #settings{
    top: 80%;
  }
}

@media all and (max-width: 540px){
  #bgBlur{
    align-items: baseline;
  } 
}

@media all and (max-width: 370px){
  #weaContainer{
    max-width: 100%;
    min-width: min-content;
    margin-right: 0;
    width: calc(100% - 10px);
  }
}

@media all and (max-width: 291px){
  #weaImg img{
    width: 60px
  }
}