@font-face {
	font-family: 'NotoColorEmoji';
	src: url(../fonts/NotoColorEmoji.ttf);
}

html{
	transition: all .3s linear;
}

#bgBlur{
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -100;
	backdrop-filter: blur(40px) saturate(150%) opacity(100%);
	transition: all .3s linear;
}

body{
	display: flex;
  justify-content: center;
  padding-bottom: 100px;
	transition: all .3s linear;
	padding-right: 0px!important;
}

#loadingScreen{
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: rgba(255,255,255,.96);
	backdrop-filter: blur(15px);
	transition: all .3s linear;
}

nav{
	padding-bottom: 10px;
}

#contentContainer{
	min-width: 300px;
  max-width: 50%;
  height: auto;
  background-color: transparent;
  transition: all .3s linear;
  padding-top: 80px;
 }

#to-do-list a.active small.text-muted {
	color: #ffffff!important;
}
.float-right
{
	float: right;
	margin-right: 10px;
}

.list-group-item{
	background-color: rgba(255,255,255, .5);
	color: black;
	transition: all .3s linear;
}

.complited-task{
	text-decoration: line-through!important;
	color: #6c757d!important;
}

#buttonContainer{
	position: fixed;
	top: 90%;
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	padding: 0px 10px;
}

.btn-block{
	transition: all .2s ease;
}

#breadCrumbToDoList{
	display: flex;
  align-items: center;
  justify-content: flex-start;
}

.input-group-text{
	background-color: transparent;
	border-color: transparent;
	color: black;
	transition: all .3s linear;
}

h3{
	color: black;
	font-weight: bold;
	transition: all .3s linear;
}

.input-group-append{
	cursor: pointer;
	transition: all .3s linear;
}

#themeSwitcherContainer{
	height: fit-content;
	position: absolute;
	right: 15%;
	top: 30px;
	font-size: 30px;
	z-index: 80;
}

.jumbotron{
	background-color: rgba(233, 236, 239, .5);
	transition: all .3s linear;
}

.my-4{
	transition: all .3s linear;
	border-color: black;
}

label{
	cursor: pointer;
	transition: all .3s linear;
}

.theme-btn{
	background-color: #007bff;
  border-color: #007bff;
}

.theme-btn:focus{
	box-shadow: 0 0 0 0.2rem rgba(38,143,255,.5);
}

.modal-content{
	background-color: #fff;
  color: black;
}

.form-control{
	color: #495057;
  background-color: white;
}

.tooltip{
	margin-top: 8px;
}

.close{
	color: black;
}

.arrow{
	display: none;
}

.arrow::before{
	display: none;
}

.tooltip-inner{
	background-color: #252527;
}

.stat-btn{
	font-size: 30px;
	width: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#dateText{
	font-weight: bold;
}

#weaContainer{
	width: auto;
  height: fit-content;
  background-color: rgba(233, 236, 239, .5);
  border-radius: 5px;
  position: absolute;
  z-index: 50;
  left: 20px;
  top: 10px;
  padding: 0px 10px;
	transition: all .3s linear;
	max-width: 280px;
	min-width: 210px;
}

#skyImg{
	width: 75px;
	transition: all .3s linear;
}

#sky{
	display: block;
}

#temperature{
	display: block;
}

#weaImg{
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all .3s linear;
}

div#weaContainer p {
	margin: 0;
	text-align: center;
	transition: all .3s linear;
}

.weaTools{
	top: 5px;
  font-size: 15px;
  position: absolute;
  color: #b3b3b3;
  transition: all .3s linear;
  cursor: pointer;
}

#settings{
  right: 5px;
}

#refresh{
	left: 5px;
	transition: all .3s linear;
	cursor: pointer;
}

#refresh:hover{
	transform: rotate(180deg);
}

#settings:hover{
	color: #1c1c1c;
	transform: rotate(90deg);
}

em{
	color: #007bff!important;
  font-weight: bold!important;
}

.emoji{
	font-family: NotoColorEmoji;
	font-style: normal;
}

.datepicker-dropdown{
	box-shadow: rgb(8, 7, 7) 9px 9px 20px 2px;
}

@media all and (max-width: 1024px){
	#contentContainer{
		padding-top: 135px;
	}
	#weaContainer{
		left: 5px;
		display: flex;
		height: auto;
		max-width: 100%;
		min-width: 210px;
	}
	#weaInf{
		display: inline-block;
	}
	#settings{
    top: 80%;
	}
}